/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*
* Ergo-L layout: https://ergol.org
* This keymap sends QWERTY keycodes. Install the Ergo-L driver on your OS.
* Windows: https://github.com/Nuclear-Squid/ergol/releases
* AltGr (RALT) on right thumb enables Ergo-L's programming symbols layer.
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define NAV 1
#define FN 2

/ {

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      display-name = "Ergo-L";
      // QWERTY keycodes -- Ergo-L OS driver remaps them:
      // |  `~  | 1 € | 2 « | 3 » | 4 $ | 5 % |                | 6 ^ | 7 & | 8 * | 9 # | 0 @ | / _ |
      // | ESC  |  Q  |  C  |  O  |  P  |  W  |                |  J  |  M  |  D  |  *  |  Y  | BSPC|
      // | TAB  |  A  |  S  |  E  |  N  |  F  |                |  L  |  R  |  T  |  I  |  U  |  '  |
      // | SHFT |  Z  |  X  |  -  |  V  |  B  | MUTE  | | PLAY |  .  |  H  |  G  |  ,  |  K  | SHFT|
      //              | GUI | ALT | CTRL| NAV | SPACE | | ENTER |AltGr| FN  | CTRL| GUI |
      bindings = <
        &kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                           &kp N6    &kp N7    &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp ESC   &kp Q  &kp W    &kp E    &kp R     &kp T                            &kp Y     &kp U     &kp I     &kp O    &kp P    &kp BSPC
        &kp TAB   &kp A  &kp S    &kp D    &kp F     &kp G                            &kp H     &kp J     &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z  &kp X    &kp C    &kp V     &kp B      &kp C_MUTE &kp C_PLAY &kp N     &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
                         &kp LGUI &kp LALT &kp LCTRL &mo NAV    &kp SPACE  &kp RET    &kp RALT  &mo FN    &kp RCTRL &kp RGUI
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    nav_layer {
      display-name = "NavNum";
      // Navigation (left) + Numpad (right)
      // |      |  F1 |  F2 |  F3  |  F4  |  F5  |                |  F6  |  F7  |  F8  |  F9  | F10  |  F11 |
      // |      | ESC | HOME|  UP  | END  | PGUP |                |      |  7   |  8   |  9   | DEL  |  F12 |
      // |      | INS | LEFT| DOWN |RIGHT | PGDN |                |  0   |  4   |  5   |  6   | BSPC |      |
      // |      | UNDO| CUT | COPY |PASTE |      |      |  |     |      |  1   |  2   |  3   |      |      |
      //              |     |      |      |(held)|      |  |     |      |      |      |      |
      bindings = <
        &none  &kp F1     &kp F2    &kp F3     &kp F4      &kp F5                       &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
        &none  &kp ESC    &kp HOME  &kp UP     &kp END     &kp PG_UP                    &none  &kp N7 &kp N8 &kp N9 &kp DEL &kp F12
        &none  &kp INS    &kp LEFT  &kp DOWN   &kp RIGHT   &kp PG_DN                    &kp N0 &kp N4 &kp N5 &kp N6 &kp BSPC &none
        &none  &kp K_UNDO &kp K_CUT &kp K_COPY &kp K_PASTE &none      &trans    &trans  &none  &kp N1 &kp N2 &kp N3 &none   &none
                          &trans    &trans     &trans      &trans     &trans    &trans  &trans &trans &trans &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    fn_layer {
      display-name = "Fn";
      // Bluetooth + RGB (left) + Media (right)
      // | BTCLR| BT1 | BT2 | BT3  | BT4  | BT5  |                |      |      |      |      |      |      |
      // |EPTOG |RGB_HD|RGB_HI|RGB_SD|RGB_SI|RGB_EF|                | PREV |VOL_UP|      |      | PSCR |      |
      // |      |RGB_BD|RGB_BI|      |      |      |                | PLAY | MUTE |      |      |      |      |
      // |      |      |      |      |      |      |RGB_TOG|  |     | NEXT |VOL_DN|      |      |      |STUDIO|
      //              |      |      | BOOT |      | RESET |  |     |      |(held)|      |      |
      bindings = <
        &bt BT_CLR        &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                                &none      &none        &none &none &none     &none
        &ext_power EP_TOG &rgb_ug RGB_HUD &rgb_ug RGB_HUI &rgb_ug RGB_SAD &rgb_ug RGB_SAI &rgb_ug RGB_EFF                              &kp C_PREV &kp C_VOL_UP &none &none &kp PSCRN &none
        &none             &rgb_ug RGB_BRD &rgb_ug RGB_BRI &none           &none           &none                                        &kp C_PP   &kp C_MUTE   &none &none &none     &none
        &none             &none           &none           &none           &none           &none            &rgb_ug RGB_TOG &none        &kp C_NEXT &kp C_VOL_DN &none &none &none     &studio_unlock
                                          &trans          &trans          &bootloader     &trans           &sys_reset      &trans       &trans     &trans       &trans &trans
      >;
    };
  };
};
